<div class="col-xs-12 col-centered top">
    <div class="col-xs-2">
        <img src="/Content/Images/logo.png" />
    </div>
    <div class="col-xs-10">
        <h2>Welcome to Response Mine Interactive</h2>
    </div>
</div>
